body{
    background-color:aliceblue;
}

h1{
    color:black;
}

p{
    color:blue;
}

.exemplo-back{
    height: 300px;
    background-color: slategray;
    background-image: url("../Aula06/img/1.jpg");
    background-size: contain;
    background-repeat: repeat-x;
}