body{
    background-color:aliceblue;
}

h1{
    color:aliceblue;
    border: 5px solid black;
    border-radius:10px;
    text-align:center;
    background: black;
    margin: 30px 70px 150px 20px;
}

p{
    color:blue;
    margin-bottom: 40px;
}

.exemplo-back{
    height: 300px;
    background-color: slategray;
    background-image: url("../Aula06/img/1.jpg");
    background-size: contain;
    background-repeat: repeat-x;
}

.botao{
    margin-left: 33%;
    background: green;
    color: azure;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 5px;
    text-decoration: none;
}
.batao:hover{
    background-color: blueviolet;

}

.teste{
    max-width:800px;
    height: 250px;
    background: cyan;
}