@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
    background-color:aliceblue;
}

h1{
    color:aliceblue;
    border: 5px solid black;
    border-radius:10px;
    text-align:center;
    background: black;
    margin: 30px 70px 150px 20px;
}

p{
    color:blue;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 300px;
  
   
   
}

.botao{
    margin-left: 33%;
    background: green;
    color: azure;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 5px;
    text-decoration: none;
}
.batao:hover{
    background-color: blueviolet;

}

.teste{
    max-width:800px;
    height: 250px;
    background: cyan;
}

a.botao1{
    background: darkgreen;
    color:aliceblue;
    padding: 10px;
    border:4px solid greenyellow;
    border-radius: 5px;
}


a.botao1:hover{
    background: rgb(6, 255, 6);
    padding: 12px;
    border:4px solid greenyellow;
    border-radius: 5px;
}

a.botao2{
    text-decoration: none;
    padding: 10px;
    border:5px double blue;
    color:blue;
}

a.botao2:hover{
    text-decoration:underline;
    padding: 8px;
    background: blue;
    color:white;
}

a.botao3{
    text-decoration: none;
    color:black;
}

a.botao3:hover{
    color:red;
    border-bottom:3px solid black ;
}

a.botao4{
    text-decoration: none;
    color: blueviolet;
    font-size: 14px;
}

a.botao4:hover{
    font-size:22;
    font-weight:bold;

}

a.botao5{
    cursor:text;
}