

.cont-text{
    border:1px solid black;
    overflow: auto;

}

.cont-text img{
    float:left;
    margin-right: 20px;
    
}

ul{
    background: black; 
    

}

li{
    display: inline-block;
    padding: 20px;
}

li a{
    color:white;
    text-decoration: none;
    padding: 20px;
}

li a:hover{
    background: #ccc;
    color:white;
   
}

.login{
    float:right;
}

.login a:hover{
    background: orange;
    color:white ;
}